# pycache
**/__pycache__/

# Ignore data files
*.fits
*.npy
*.asv
*.txt
*.ipynb

!requirements.txt

# Ignore folders created with configuration parameters
ConfigFiles/*
!ConfigFiles/JWST.yaml
DataFiles/*
